<h3>Regisztráció</h3>
<hr>
<div class="alert hide" id="alertReg" role="alert">
    
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="nameField" placeholder="">
    <label for="nameField">Név</label>
</div>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="emailField" placeholder="">
    <label for="emailField">Email cím</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="passField" placeholder="">
    <label for="passField">Jelszó</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirmpassField" placeholder="">
    <label for="confirmpassField">Jelszó megerősítése</label>
</div>

<button class="btn btn-primary" onclick="Registration()" id="registerBtn">Regisztráció</button>